.App {
  /* text-align: center;
  justify-content: center; */
  margin:auto;
  
  width: 630px;
  height : 1422px;
  top: 128px;
  left: 325px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #000000;
  padding-bottom: 30px;
}

.plp{
  /* margin-left: 40px; */
  text-align: center;
}

.search-bar{
  display: flex;

     
  margin-left: 500px;
 
   
 
}


.icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the icons to the left */
  /* Add any other styles as needed */
}
